svg .node {
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .1;
}

.vote {
    fill: rgba(20, 0, 30, 1);
}

.candidate {
    fill: rgba(20, 100, 30, 1);
}

.industry {
    fill: rgba(200, 10, 30, 1);
}

.ind2cand {
    stroke: rgba(255, 255, 255, .5);
    stroke-width: 1.5;
}
