.DS_Store
config.js
node_modules
.rbenv-gemsets
.rbenv-version
Gemfile.lock
config.rb
cands12.txt
indivs12.txt
pacs12.txt
cmtes12.txt
pac_other12.txt
data/bills/*
data/votes/*xml
sql_notes
data/example_data
