.node {
    opacity: 1.0;
}
.node:hover {
    opacity: 0.7;
}

.link {
    fill: none;
}

.vote {
    stroke-opacity: 0.4;
}

.vote-yes {
    stroke: #00FF00;
}

.vote-no {
    stroke: #FF0000;
}

.voteless {
    stroke: #000000;
}

.money {
    stroke-opacity: 0.2;
}

.link:hover {
    stroke-opacity: 0.1;
}
